#include "../listners.dtsi"

pointer: &split_peripheral {
  input-processors
    = <&zip_xy_transform INPUT_TRANSFORM_X_INVERT>
    // , <&zip_xy_scaler 1 10>
    , <&zip_xy_to_scroll_mapper>
    ;
};

// /{
//   split_inputs {
//     #address-cells = <1>;
//     #size-cells = <0>;
//     pointer: split_peripheral@0 {
//       compatible = "zmk,input-split";
//       reg = <0>;
//     };
//   };

//   listner_peripheral: listner_peripheral {
//     compatible = "zmk,input-listener";
//     status = "disabled";
//     device = <&pointer>;
//   };
// };
